<div class="blankslate blankslate-spacious">
  <%= octicon "octoface", height: 24, class: "blankslate-icon" %>
  <h3>We couldn't find what you were looking for</h3>
  <p class="mt-1 text-gray">
    <span class="h5">Tip!</span> Search and filter only works within the scope of this project.
  </p>
</div>