<div>
  <%= render Users::AvatarComponent.new %>
</div>
<div class="ml-2">
  <span class="d-block <%= name_classes %>"><%= full_name %></span>
  <span class="d-block f6 text-gray"><%= member_role %></span>
</div>