<%= render Boxes::ModalComponent.new(title: "Remove Abeid Ahmed?") do |component| %>
  <% component.with(:trigger) do %>
    <%= trigger %>
  <% end %>
  <% component.with(:body) do %>
    <p class="mb-0">
      Are you sure you want to remove Abeid Ahmed from the project team?
      Once removed, Abeid Ahmed will no longer have access to the Applog space project.
    </p>
  <% end %>
  <% component.with(:footer) do %>
    <button class="btn btn-danger btn-block">Remove Abeid Ahmed from team</button>
  <% end %>
<% end %>