<%= render "page_head", post: @post %>
<section class="container-xl px-3 px-sm-4 px-lg-5 mt-5">
  <%= form_with model: [:app, @post], class: "d-md-flex gutter-condensed gutter-lg" do |form| %>
    <%= render Posts::FormFieldComponent.new(form: form) %>
    <%= render Posts::AsideFieldComponent.new(form: form, post: @post) %>
    <div class="mt-4 px-2 d-md-none">
      <button class="btn btn-primary btn-block">Save draft</button>
    </div>
  <% end %>
</section>