<div class="blankslate blankslate-large blankslate-spacious">
  <%= octicon "octoface", height: 32, class: "blankslate-icon" %>
  <h3><%= title %></h3>
  <p class="mt-1 text-gray">
    <%= description %>
  </p>
</div>