<div data-controller="toast" class="Toast-container p-1 position-fixed top-0 right-0">
  <div data-toast-target="content" class="Toast <%= toast_class %>">
    <span class="Toast-icon">
      <%= octicon toast_icon %>
    </span>
    <span class="Toast-content"><%= msg %></span>
    <button data-action="click->toast#hide" class="Toast-dismissButton">
      <%= octicon "x" %>
    </button>
  </div>
</div>