<div class="Box-row d-flex flex-items-center">
  <div class="d-flex flex-items-center col-9 pr-3">
    <span class="IssueLabel IssueLabel--big bg-blue text-white">improvement</span>
  </div>
  <div class="col-3 d-flex flex-justify-end">
    <div class="d-none d-md-flex">
      <button class="btn-link text-gray f5">Edit</button>
      <button class="btn-link text-gray f5 ml-3">Delete</button>
    </div>
    <div class="d-md-none">
      <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="btn" aria-haspopup="true">
          <%= octicon "kebab-horizontal" %>
        </summary>
        <ul class="dropdown-menu dropdown-menu-sw">
          <li><a href="#" class="dropdown-item">Edit</a></li>
          <li class="dropdown-divider" role="separator"></li>
          <li><a href="#" class="dropdown-item">Delete</a></li>
        </ul>
      </details>
    </div>
  </div>
</div>
<div class="Box-row d-flex flex-items-center">
  <div class="d-flex flex-items-center col-9 pr-3">
    <span class="IssueLabel IssueLabel--big bg-red text-white">bug</span>
  </div>
  <div class="col-3 d-flex flex-justify-end">
    <div class="d-none d-md-flex">
      <button class="btn-link text-gray f5">Edit</button>
      <button class="btn-link text-gray f5 ml-3">Delete</button>
    </div>
    <div class="d-md-none">
      <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="btn" aria-haspopup="true">
          <%= octicon "kebab-horizontal" %>
        </summary>
        <ul class="dropdown-menu dropdown-menu-sw">
          <li><a href="#" class="dropdown-item">Edit</a></li>
          <li class="dropdown-divider" role="separator"></li>
          <li><a href="#" class="dropdown-item">Delete</a></li>
        </ul>
      </details>
    </div>
  </div>
</div>
<div class="Box-row d-flex flex-items-center">
  <div class="d-flex flex-items-center col-9 pr-3">
    <span class="IssueLabel IssueLabel--big bg-yellow text-dark">help</span>
  </div>
  <div class="col-3 d-flex flex-justify-end">
    <div class="d-none d-md-flex">
      <button class="btn-link text-gray f5">Edit</button>
      <button class="btn-link text-gray f5 ml-3">Delete</button>
    </div>
    <div class="d-md-none">
      <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="btn" aria-haspopup="true">
          <%= octicon "kebab-horizontal" %>
        </summary>
        <ul class="dropdown-menu dropdown-menu-sw">
          <li><a href="#" class="dropdown-item">Edit</a></li>
          <li class="dropdown-divider" role="separator"></li>
          <li><a href="#" class="dropdown-item">Delete</a></li>
        </ul>
      </details>
    </div>
  </div>
</div>