<section>
  <div class="Subhead Subhead--spacious border-bottom-0 mb-0">
    <div class="Subhead-heading">Danger zone</div>
  </div>
  <div class="Box">
    <ul>
      <li class="Box-row d-md-flex flex-justify-between">
        <div class="mb-2 mb-md-0">
          <h5>Delete all posts</h5>
          <div class="f5">
            Once you delete your posts, it’s gone for forever. Proceed with caution.
          </div>
        </div>
        <div>
          <button class="btn btn-danger">
            Delete all posts
          </button>
        </div>
      </li>
      <li class="Box-row d-md-flex flex-justify-between">
        <div class="mb-2 mb-md-0">
          <h5>Delete project</h5>
          <div class="f5">
            Once you delete your project, it’s gone for forever. Proceed with caution.
          </div>
        </div>
        <div>
          <button class="btn btn-danger">
            Delete project
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>