<section>
  <div class="Subhead">
    <div class="Subhead-heading">Change project details</div>
  </div>
  <div>
    <form>
      <div class="form-group mt-0">
        <div class="form-group-header">
          <label for="">Project name</label>
        </div>
        <div class="form-group-body">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-header">
          <label for="">URL</label>
        </div>
        <div class="form-group-body">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-header">
          <label for="">Subdomain</label>
        </div>
        <div class="form-group-body">
          <input type="text" class="form-control">
        </div>
      </div>
      <div>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</section>