$black: #1b1f23;
$white: #fff;

// Grays
$gray-000: #fafbfc;
$gray-100: #f6f8fa;
$gray-200: #e1e4e8;
$gray-400: #959da5;
$gray-500: #6a737d;
$gray-600: #586069;
$gray-900: #24292e;

// Blues
$blue-500: #0366d6;
