$flex-justify-items: (
  center: center,
);

@each $breakpoint in map-keys($breakpoints) {
  $bp-sort: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop, $value in $flex-justify-items {
      .#{$bp-sort}justify-#{$prop} {
        justify-content: $value !important;
      }
    }
  }
}
