<div class="subnav d-flex flex-column flex-sm-row">
  <div class="subnav-search ml-0 col-12 col-sm-6 col-lg-5">
    <input
      type="search"
      name="name"
      class="form-control subnav-search-input width-full"
      value=""
      placeholder="Search people by name, email"
      aria-label="Search people by name, email"
      autocomplete="off"
    />
    <%= octicon "search", class: "subnav-search-icon" %>
  </div>
  <div class="mt-2 mt-sm-0 col-sm-6 col-lg-7 d-sm-flex flex-justify-end">
    <button data-action="click->toggle#toggle" id="member-invite-form-toggler" class="btn btn-primary">Invite colleague</button>
  </div>
</div>